:root {
    /*colors*/
    --clr-gold: hsla(24, 56%, 63%, 1);
    --clr--black: hsla(0, 0%, 8%, 1);
    --clr-dark-gray: hsla(0, 0%, 27%, 1);
    --clr-white: hsla(0, 0%, 100%, 1);
    /*font-size body*/
    --body-fs-s: 18px;
    --body-fs-m: 22px;
    /*font-size heading*/
    --fs-h-s: 36px;
    --fs-h-m: 60px;
    --fs-h-l: 70px;
    --fs-h-xl: 96px;
    /*font-weight*/
    --fw-body: 300;
    --fw-h: 900;
    /*fs,fw Button*/
    --fs-button: 20px;
    --fw-button: 800;
    /*font-family*/
    --ff-p: "Outfit";
    --ff-heading: 'Big Shoulders Display';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    font-family: var(--ff-heading);
    background: var(--clr-white);
}

img {
    width: 100%;
}

h1 {
    font-size: var(--fs-h-xl);
    font-weight: var(--fw-h);
    font-family: var(--ff-heading);
    width: 514px;
}

p {
    font-size: var(--body-fs-m);
    font-weight: var(--fw-body);
    font-family: var(--ff-p);
}

button {
    border: 0;
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
}

.header-container {
    position: relative;
    display: flex;
    max-width: 1436px;
    width: 100%;
}

.article {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
}

.article h2 {
    font-size: 96px;
    font-weight: 900;
    line-height: 88px;
    height: 176px;
    max-width: 514px;
    text-transform: uppercase;
}

.article p {
    color: var(--clr-dark-gray);
    height: 160px;
    max-width: 350px;
}

.article .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 260px;
    background-color: var(--clr--black);
    margin-top: 64px;
    cursor: pointer;
}

.button,
#text {
    height: 24px;
    width: 137px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    padding-left: 32px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 56px;
    background-color: var(--clr-gold);
}

span img {
    height: 24px;
    width: 8px;
}

.main-article {
    margin-top: 189px;
}

.paragraph-button {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
}

header .black-div {
    height: 799px;
    max-width: 450px;
    width: 100%;
    background-color: var(--clr--black);
}

header .white-div {
    height: 800px;
    max-width: 540px;
    width: 100%;
    height: 100%;
}

header .white-div img {
    max-width: 540px;
    height: 800px;
}

.art-gallery {
    margin-top: 180px;
}

.art-gallery .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.right-button-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

.text-1 {
    height: 280px;
    width: 350px;
}

.text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 377px;
    max-width: 445px;
    width: 100%;
    background-color: var(--clr--black);
}

.text-1 h2 {
    width: 350px;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
}

.text-2 h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    color: var(--clr-white);
    width: 350px;
}

.text-1 p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 32px;
}

.text-2 p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: var(--clr-white);
    padding-top: 32px;
    width: 350px;
}

.img-1 {
    height: 400px;
    max-width: 635px;
    min-width: 398px;
}

.img-2 {
    height: 720px;
    max-width: 635px;
    min-width: 398px;
}

.img-3 {
    height: 313px;
    max-width: 445px;
    min-width: 280px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    background: var(--clr--black);
    height: 244px;
    max-width: 1440px;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer p {
    height: 84px;
    width: 430px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--clr-white);
}

footer h2 {
    height: 58px;
    width: 159.5px;
    text-transform: uppercase;
    color: var(--clr-white);
}

footer .social-icons {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 100px;
}

footer .social-icons img {
    height: 20px;
    width: 20px;
}